main, .adminmain {
    padding: 1rem;
    background-color: rgb(244, 220, 126);
    color: white;
    font-size: 1.5rem;
    height: 250rem;
}

.kaart {
    background-color: wheat;
    color: rgb(75, 55, 192);
}
.woord {
    color:rgb(102, 87, 242);
    font-weight: bold;
}
.vertaling {
    font-style: italic;
}

.lecke {
    font-size: 0.7rem;
    color: black;
}

.titel {
    font-style: italic;
    font-size: 2rem;
    color: crimson;
}
.aantal-woorden {
    font-size: 1rem;
    color: rgb(80, 45, 52);
}