<%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navigation') %>
    <main >
        <h3 class="titel">Woorden toevoegen</h3>
        <br>
        <div class="row justify-content-center">
            <form action="/add-word" method="POST" class="col-4">
                <div class="form-group">
                  <label class="m-3" for="woord">Nieuw woord</label>
                  <input type="text" class="form-control" name="woord" id="woord" placeholder="Voeg nieuw woord toe...">
                </div>
                <div class="form-group">
                  <label class="m-3" for="vertaling">Vertaling</label>
                  <input type="text" class="form-control" name="vertaling" id="vertaling" placeholder="Voeg de vertaling toe...">
                </div>
                <% console.log(currentClass) %>
                <div class="form-group">
                    <label class="m-3" for="vertaling">Les</label>
                    <input type="text" class="form-control" name="les" id="les" value="<%= currentClass %>" placeholder="Les...">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Voeg toe</button>
              </form>
        </div>
<%- include('./partials/end.ejs') %>
