<%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navigation') %>
    <main>
        <h3>Welkom op mijn woordenboekenwebsite!</h3>
        <br>
        <h4>Hongaars - Nederlands</h4>
        <br>
        <h4>Nederlands - Hongaars</h4>
<%- include('./partials/end.ejs') %>
